body {
    background-color: rgb(184, 184, 218);
}

a {
    text-decoration: none;
    color: darkblue;
}

h1{
    color: rgb(76, 83, 141);
    font-size: 48px;
}

li {
    display: inline;
    font-size: x-large;
    padding: 20px;
}

p {
    padding-top: 30px;
    padding-left: 20px;
    font-size: 24px;
}

ul {
    padding-top: 20px;
}

img {
    padding-top: 34px;
    min-width: 200px;
}

.wrapper {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    background: rgb(184, 184, 218);
    flex-wrap: wrap;
    padding-top: 10px;
}

.about-container {
    height: 250px;
    display: flex;
    background: rgb(184, 184, 218);
    flex-wrap: wrap;
    padding-top: 10px;
    
}

.work-container {
    height: 1150px;
    display: flex;
    background: rgb(184, 184, 218);
    flex-wrap: wrap;
    padding-top: 10px; 
}

.contact-container {
    height: 200px;
    display: flex;
    background: rgb(184, 184, 218);
    flex-wrap: wrap;
    padding-top: 10px; 
    
}

.resume-container {
    height: 200px;
    display: flex;
    background: rgb(184, 184, 218);
    flex-wrap: wrap;
    padding-top: 10px; 
    
}

.box {
    height: 100px;
    min-width: 200px;
    flex-grow: 1;
}

.two {
    display: inline;
    text-align: right;
}

.about {
    width: 300px;
    height: 100px;
    min-width: 200px;
    max-width: 300px;
    flex-grow: 1;
    text-align: right;
}

.text {
    max-width: 1520px;
    min-width: 200px;
} 

.big-image {
    padding-top: 30px;
}

.link {
    padding-top: 40px;
    text-align: center;
}

#style {
    height: 100px;
    border-right: 5px darkblue solid;
    padding-right: 20px;    
}

#work {
    height: 150px;
    border-right: 5px darkblue solid;
    padding-right: 20px;      
}

#contact {
    height: 120px;
    border-right: 5px darkblue solid;
    padding-right: 20px;      
    
}

#resume {
    height: 120px;
    border-right: 5px darkblue solid;
    padding-right: 20px;      

}

#info {
    flex-grow: 1;
}
